.lock-screen {
  background-image: url("/assets/images/wallpaper/background-lock.jpg");
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s ease-in-out;

  
  &[data-unlock="true"] {
    opacity: 0;
  }

  &::after {
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
    transition: all 200ms ease-in-out;
  }

  &[data-blur="true"]::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    background: rgba(0, 0, 0, 0.1);
  }
}

.splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(0);
  transition: all 200ms ease-in-out;

  &[data-faded="true"] {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-200px);
  }
}

.fadein-screen {
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(60px);
  transition: all 400ms ease-in-out;
  pointer-events: none;

  &[data-faded="false"] {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0px);
  }

  &[data-unlock="true"] {
    opacity: 0;
  }

  .sign-in-btn {
    background: rgba(255, 255, 255, 0.2);
    font-size: 13px;
    padding: 4px 36px 6px;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 4px;

    &:hover {
      border: 2px solid rgba(255, 255, 255, 0.33);
    }

    &:active {
      border: 2px solid transparent;
      background: rgba(255, 255, 255, 0.33);
    }
  }
}

.bottom {
  position: absolute;
  bottom: 24px;
  right: 24px;

  .task-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 24px;

    .battery {
      display: flex;
      position: relative;

      .charger svg {
        position: absolute;
        z-index: 1;
      }

      .bt-full {
        overflow: hidden;
        position: absolute;
        z-index: 0;
      }
    }
  }
}

::selection {
  background-color: transparent;
  color: inherit;
}

::-webkit-selection {
  background-color: transparent;
  color: inherit;
}

[contenteditable="true"] {
  -webkit-user-select: text;
  user-select: text;
}

input[type=text], textarea, [contenteditable=true] {
  caret-color: transparent;
}

